/* Navbar styling */

nav, nav .left, nav .right {
    width: 100vw;
    height: 45px;
    background: #282828;
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-around;
}

/* Styling left side of navbar  */

/* Hamburger for sidebar */
nav .hamburger {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    position: relative;
    transition: .3s;
    margin-left: 25px;
    cursor: pointer;
}

nav .hamburger:hover {
    background: rgba(255, 255, 255, .3);
}

nav .left .ham, .ham::before, .ham::after {
    width: 15px;
    height: 2px;
    background: white;
    border-radius: 25px;
}

.ham {
    margin: 14px 8px;
}

.ham::before, .ham::after {
    content: "";
    position: absolute;
    display: inline-block;
}

.ham::before {
    top: 9px;
}

.ham::after {
    bottom: 9px;
}

/* Home button and search icon */
nav .left .home, nav .left .mag_glass {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}

nav .left .home:hover {
    background: rgba(255, 255, 255, .3);
}

nav .left path {
    fill: white;
}

.mag_glass {
    position: absolute;
    left: 10px;
    top: -1px;
}

/* Search bar in nav */
nav .search {
    position: relative;
}

nav .left input{
    width: 200px;
    height: 28px;
    background: rgba(116, 116, 116, .3);
    border: none;
    outline: none;
    border-radius: 3px;
    margin-left: 10px;
    padding-left: 30px;
    padding-top: 2px;
    transition: .4s;
}

nav .left input:hover {
    background: white;
    color: rgba(0, 0, 0, .4);
}

nav .left input::placeholder {
    color: white;
}

nav .left input:focus{
    border: none;
    outline: none;
    width: 350px;
    background: white;
    color: rgba(0, 0, 0, .4);
}


/* Styling right side of navbar */

nav .right {
    width: 275px;
    display: flex;
    justify-content: space-around;
    margin-right: 35px;
}

nav .right .upgrade {
    background: rgba(116, 116, 116, .3);
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.upgrade_pro, .upgrade .hover_title {
    display: flex;
    align-items: center;
}

nav .right .upgrade:hover {
    background: rgba(116, 116, 116, 1);
}

/* Star symbol in upgrde box */
nav .right .upgrade svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}

nav .right .upgrade path {
    fill: #FFD093;
}

nav .right .upgrade span {
    color: white;
    font-size: 12px;
}

.right .upgrade .hover_text {
    width: 300px;
    display: none;
    position: absolute;
    top: 50px;
    right: 25px;
    background: #282828;
    color: white;
    padding: 25px;
    border-radius: 10px;
}

.right .upgrade:hover .hover_text {
    display: block;
}

.right .upgrade .hover_text img {
    width: 25px;
    height: 25px;
}


/* Plus icon */
nav .right svg {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

nav .right > svg:hover {
    background: rgba(116, 116, 116, .3);
}

nav .right path {
    fill: white;
}

/* Help icon */
nav .right .help {
    padding: 2px;
}

/* Notification icon */
nav .right .notification {
    padding: 2px;
}