* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
}

.dim {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    position: fixed;
    inset: 0px;
    transition: .2;
}

.dim.active {
    display: block;
}

.task {
    margin-bottom: 25px;
}